@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

.container-in{
    width: 100%;
    height: 100%;    
    padding: 30px 0;
    margin: 0 auto;
}

.content-box{    
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: rgba(229, 229, 229, .4);
    border-radius: 5px;
    box-shadow: 3px 3px 20px silver;
    overflow: hidden;
    box-sizing: border-box;
}

.content-box h1{
    font-size: 25px;
    padding: 30px;
    text-align: center;
    color: #f78164;
    box-sizing: border-box;
}

.content-box input{
    margin: 10px auto;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    border-top: 0;
    border-left: 0;        
    padding: 10px;
}

.content-box input[name=submit]{
    margin: 10px auto;
    margin-top: 20px;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    border-top: 0;
    border-left: 0;
    background-color: #f78164;
    color: #ffffff;        
}


@media screen and (max-width: 575px){
    
    .content-box{    
        margin: 0 auto;
        width: 100%;
        min-width: 280px;        
        max-width: 400px;
        max-height: 400px;        
        padding: 0 10px;
    }

    .content-box input{          
        min-width: 150px;        
    }

    .content-box input[name=submit]{        
        max-width: 200px;
        min-width: 150px;        
    }
    
}