* {
    margin:0;
    padding:0;
  
}
.containerfooter {
    width: 1440px;
  background-color: #f8f8f8;
    margin:0;
    padding:58px 226px 33px 130px;
}
.containerfooter li {
      list-style:none;

}
.containerfooter li a {
    text-decoration: none;
    line-height: 1.75;
  letter-spacing: 0.3px;
    font-size: 16px;
    font-family:ProximaSoft;
    font-weight:600;
    padding:0, auto;
  
    color: #505050;
    cursor:pointer;
    
}
.containerfooter li a:hover {
    color:#f78164;
}
.span a:hover {
    color:#f78164;
}
.col-md-3 li a:hover {
    color:#f78164;
}
span {
    color:#219cd2;
}
.col-md-3 li a span:hover {
     color:#f78164;
}
.highlighted {
  font-family: HKGrotesk;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #0e2d6e;
text-transform:uppercase;  
  font-weight: 800; 
    
}
.copyright {
  font-family: HKGrotesk;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: #505050;

}
.col-md-3 ul i {
    height:34px;
    width:34px;
     padding-top:38px;
}

.col-md-3 ul i {
  padding-top:8px;
 font-size:24px;
}

.empty {
    margin-left:-4px;
    padding:0;
    height:22px;
    width:25px;
    border-bottom:2px solid #f78164;
    margin-bottom:22px;
}

.col-md-12 {
  padding-top:40px;   
}
.border {
  background-color:red;
  border-top:1px solid black;
  height:1px;
  width:1200px;
  margin-bottom:33px;
    margin-left:-10px;
  align-items:center;
}
 .social-media img {
    padding-right:15px;
    height:24px;
    width:40px;
}
.social-media .insta {
    width:50px;
}
.social-media .yt {
    width:50px;
    height:35px;
}